<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">Netflix Macedonia</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Now available on all platforms!</h4>
                <p>Check the mobile app. We have made the best movie application you ever had!</p>
                <p>Netflix Macedonia is the leading Netflix on the Balkans...</p>
            </div>
            <div class="col-md-6">
                <img src="https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png">
            </div>
        </div>
    </div>
</div>